:root {
    --dark0: #F8F9FA;
    --dark05: #f2f2f2;
    --dark1: #DFE1E5;
    --dark2: #9aa0a6;
    --dark3: #70757a;
    --dark4: #3c4043;
    --dark5: #202124;
    --blue: #1a73e8;
}

html {
    font-family: 'Roboto', sans-serif;
}

body, #root {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}